Source: php-smbclient
Section: php
Priority: optional
Maintainer: struktur AG <opensource@struktur.de>
Uploaders: Simon Eisenmann <simon@struktur.de>
Build-Depends: debhelper (>= 9~),
               dh-php5,
               libsmbclient-dev,
               php5-dev,
               pkg-php-tools (>= 1.5~)
Standards-Version: 3.9.5
Homepage: http://pecl.php.net/smbclient

Package: php5-smbclient
Architecture: any
Depends: ucf,
         ${misc:Depends},
         ${php:Depends},
         ${phppear:Debian-Depends},
         ${shlibs:Depends}
Provides: php-libsmbclient, php-smbclient
Description: PHP wrapper for libsmbclient
 smbclient is a PHP extension that uses Samba's libsmbclient library
 to provide Samba related functions and 'smb' streams to PHP programs.
